{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil</title>
</head>
<body>
    <div class="bgr">
        <div>
            <h3>Transactions foncières en France</h3>
            <h4>L'aperçu sur l'année 2022 avec quelques comparaisons avec 2020</h4> 
        </div>
        <div>
            <ul>
                <li><a href="/visualisations">Visualisations</a></li>
                <li><a href="/data">Données</a></li>
            </ul>
        </div>
    </div>
</body>
</html>